<div class="off-canvas-top off-canvas position-top off-canvas-absolute" id="offCanvasTop" data-off-canvas data-off-canvas data-transition="overlap">
  <div class="grid-container container-help">
    <div class="grid-x grid-margin-x">
      <div class="cell">
        {% include path_include_top -%}
      </div>
    </div>
  </div>
</div>    