<div class="off-canvas-bottom off-canvas position-bottom off-canvas-absolute" id="offCanvasBottom" data-off-canvas data-off-canvas data-transition="overlap">
  <div class="grid-container container-help">
    <div class="grid-x grid-margin-x">
      <div class="cell">
        {% include path_include_bottom -%}
      </div>
    </div>
  </div>
</div>    