<div class="off-canvas-right off-canvas position-right off-canvas-absolute" id="offCanvasRight" data-off-canvas data-off-canvas data-transition="overlap">
  <div class="grid-container container-help">
    <div class="grid-x grid-margin-x">
      <div class="cell">
        {% include path_include_right -%}
      </div>
    </div>
  </div>
</div>    