<div class="grid-x grid-margin-x">
    <div class="cell">
        <p>Edit this content in views > partials > admin > starter > dashboard > _index.liquid</p>
    </div>
</div>

{% comment %} *********************

To output global variables output "site", "page", "context", or "params"
To view global variables uncomment the outputs below

**********************{% endcomment -%}

{% comment -%}

<hr>
<p>SITE</p>
{{site}}
<hr>
<p>PAGE</p>
{{page}}
<hr>
<p>CONTEXT</p>
{{context}}
<hr>
<p>PARAMS</p>
{{params}}
<hr>

{% endcomment %}